# JWT Secret Needed for authentication
JWT_SECRET_KEY=
# Database Connections
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# Redis Connection
REDIS_URL=

# Celery Connection
CELERY_BROKER_URL=
CELERY_APP=
CELERYD_MULTI=
CELERYD_OPTS=

# AWS Authentication
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_REGION=
# AWS Bucket
S3_UPLOAD_BUCKET=

# ElasticSearch Connection
ELASTICSEARCH_HOSTS=
ELASTICSEARCH_CLOUD_ID=
ELASTICSEARCH_API_KEY=

# Firebase Connection
FIREBASE_PROJECT_ID=
FIREBASE_RTDB_URL=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_PRIVATE_KEY=
# Iterable Connection
# ITERABLE_API_KEY is disabled for Dev.
# You can enable it if you have dev key. NEVER USER PRODUCTION KEYS!!!
ITERABLE_API_KEY=
ITERABLE_BASE_URL=
# Mixpanel Connection
# MIXPANEL_API_KEY is disabled for Dev.
# You can enable it if you have dev key. NEVER USER PRODUCTION KEYS!!!
MIXPANEL_API_KEY=

# Log Related
LOG_LEVEL=
LOG_LEVEL_SQLALCHEMY=
LOG_LEVEL_GUNICORN=
CONSOLE_LOG_ENABLED=false
SENTINEL_ENABLED=false
FLASK_MODE=testing
CELERY_WORKER_LOG_LEVEL=DEBUG

# for local postgresDB 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=